/* --------------------  GENEREL STYLING -------------------- */

main {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}

video {
  width: 100%;
  height: auto;
}
/* ------ Header ------ */

header {
  display: flex;
  justify-content: space-between;
  padding-left: 2%;
  padding-right: 2%;
  background-image: url(IMG/splash.jpg);
  background-size: cover;
  height: 15rem;
  overflow: hidden;
}

header .logo {
  font-size: 0.8rem;
}

header a:hover {
  color: orange;
}

a {
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  color: #132254;
}

/* ------ overskrifter og paragraphs ------ */
h1 {
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  color: #132254;
}

h2 {
  font-family: "Roboto", sans-serif;
  color: #132254;
  font-weight: 400;
}

h3 {
  font-family: "Roboto", sans-serif;
  color: #132254;
  font-weight: 200;
  margin-bottom: 2rem;
}

#section_refleksion h3 {
  margin-left: 2rem;
}

h4 {
  font-family: "Roboto", sans-serif;
  color: #132254;
  font-weight: 500;
}

h5 {
  font-family: "Open Sans", sans-serif;
  color: #132254;
  font-weight: 200;
}

p {
  font-family: "Open Sans", sans-serif;
  color: #132254;
  font-size: 0.9rem;
  max-width: 60ch;
}

/* --------------------  BURGERMENU -------------------- */
.hidden {
  opacity: 0;
  transform: translateX(100%);
}
/* -----positionerer 'X' i burgermenuen------ */
nav {
  display: grid;
  text-align: end;
}

#menuknap {
  cursor: pointer;
  font-size: 3rem;
  color: #132254;
}

#menu {
  text-align: end;
  list-style-type: none;
  transition: transform 0.3s;
}

/*  ------ Orange knap ------  */
.button_container {
  display: grid;
  justify-content: center;
}

.button {
  display: grid;
  justify-content: center;
  align-items: center;
  background-color: #ffa500;
  width: 9.6rem;
  height: 3.5rem;
  border-radius: 33px;
  margin-top: 2rem;
}

.button a {
  color: white;
  font-family: "Open Sans", sans-serif;
}

/* -------- Blå knap forside -------- */

.button_blue {
  justify-content: center;
  align-items: center;
  background-color: #132254;
  width: 9.6rem;
  height: 3.5rem;
  border-radius: 33px;
}

.button_blue a {
  color: white;
  font-family: "Open Sans", sans-serif;
}

.button_blue {
  display: none;
}

.col {
  display: grid;
  justify-items: center;
}

/* --------------------  Forside Section 1 -------------------- */
/* #section_1 {
  margin-bottom: 3rem;
} */

#section_1 h2 {
  padding-top: 1rem;
}

.section_wrapper {
  display: grid;
  /* margin-right: 1rem;
  margin-left: 1rem;
  margin-top: 2rem; */
  margin-left: 1rem;
}

/* .p1_semester {
  grid-row: 1/2;
}

.p2_semester {
  grid-row: 2/2;
} */

/* --------------------  Om mig siden -------------------- */

#section_1_om {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

#section_1_om img {
  border-radius: 50%;
  height: 14rem;
  width: auto;
  grid-column: 2/3;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

#section_2_om,
#section_refleksion {
  display: grid;
  background-color: #d2e3e6;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

#section_3_om {
  /* display: grid; */
  /* grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr); */
  margin-top: 2rem;
}

.fact {
  display: flex;
}

.fact img {
  height: 5rem;
  padding: 1.5rem;
  width: auto;
}

.p1_om,
.p1_refleksion {
  padding-left: 2rem;
  padding-right: 2rem;
}
.p2_om,
.p2_refleksion {
  padding-left: 2rem;
  padding-right: 2rem;
}

/* -----  færdig side  */

.img_t2 img {
  width: 25rem;
  height: auto;
  padding-top: 2rem;
  padding-bottom: 1rem;
}

/* --------------------  Section 2 -------------------- */
#section_2_om h2,
#section_refleksion h2 {
  padding-left: 2rem;
}

#section_2_om h4,
#section_refleksion h4 {
  padding-left: 2rem;
}

.boks {
  background-color: #d2e3e6;
  height: 6rem;
  display: flex;

  align-items: center;
  margin: 1rem;
  gap: 0rem;
}

.boks a {
  margin: 2rem;
}

.boks img {
  height: 4rem;
  grid-column: 2/3;
  grid-row: 2/3;
}

.boks .boks_color {
  background-color: white;
  width: 55%;
  height: 4rem;
}

.boks h4 {
  margin: 0.5rem;
  text-align: start;
}
.boks h5 {
  margin: 0.5rem;
  text-align: start;
}

/* --------------------  Section 3 -------------------- */
.section_wrapper3 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(9, 1fr);
}

.boks_1 {
  background-color: cadetblue;
  grid-column: 1/3;
  grid-row: 1/2;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr;
}

.boks_1 img {
  height: 6rem;
  place-content: start;
  grid-column: 1/2;
}

.farve {
  background: white;
  grid-column: 4/6;
  grid-row: 1/2;
}

/* -------------------- PORTFOLIO -------------------- */

.portfolio .section_wrapper {
  margin-bottom: 4rem;
  grid-gap: 30px;
}

.portfolio .section_wrapper .botton {
  margin-bottom: 2rem;
  margin-left: 7rem;
}

/* --------------------  Tema 2 -------------------- */

/* -------------------- Footer -------------------- */

footer {
  background-color: #d2e3e6;
  margin-top: 3rem;
  height: 14rem;
}

footer p {
  margin-right: 0;
  text-align: center;
}

#footer {
  padding-top: 1rem;
  text-align: center;
}

#footer p {
  text-align: center;
}
#sociale_medier {
  display: flex;
  justify-content: center;
}
#sociale_medier img {
  height: 2rem;
  padding: 1rem;
  width: auto;
}

/* ----------------------------------------  @mediaquery ---------------------------------------- */

@media (min-width: 600px) {
  /* --------------------  BURGERMENU -------------------- */
  #menuknap {
    display: none;
  }

  #menu.hidden {
    transform: translateX(0);
    opacity: 1;
  }

  #menu li {
    display: inline-block;
    padding: 2rem;
  }

  p {
    text-align: justify;
  }

  /* --------------------  FORSIDE -------------------- */

  .button_blue {
    margin-bottom: 0;
  }
  header {
    height: 50rem;
  }

  header .logo {
    font-size: 1.4rem;
  }
  #section_1 {
    margin-bottom: -7rem;
    height: 24rem;
  }
  .p1_semester {
    /* grid-column: 1/2;
    grid-row: 1/1; */
    margin-right: 5rem;
  }

  .p2_semester {
    grid-column: 2/2;
    /* grid-row: 1/1; */
  }

  #boks_container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  .boks {
    height: 22rem;
    width: 16rem;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: center;
  }

  .boks .button_blue {
    margin: 2rem;
    background-color: #132254;
    display: grid;
  }

  .boks a {
    margin: 0;
    display: grid;
  }

  .boks img {
    height: 10rem;
    width: auto;
  }

  .boks .boks_color {
    background-color: #d2e3e6;
    grid-column: 1/2;
    grid-row: 1/2;
  }

  /* --------------------  OM MIG -------------------- */
  /* #section_2_om,
  #section_refleksion {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 18rem;
  } */

  .p1_om,
  .p1_refleksion {
    grid-column: 1/2;
    /* grid-row: 2/3; */
  }

  .p2_om,
  .p2_refleksion {
    grid-column: 2/2;
    /* grid-row: 2/3; */
    padding-right: 0;
  }

  /* .p1_reflektion {
    grid-column: 1/2;
    grid-row: 2/3;
    margin-left: 2rem;
  }

  .p2_reflektion {
    grid-column: 2/2;
    grid-row: 2/3;
  } */

  #section_1_om img {
    height: 25rem;
  }

  #section_3_om {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  #section_2_om h2,
  #section_refleksion h2 {
    padding-left: 2rem;
  }

  .fact p {
    padding-top: 2rem;
    padding-right: 2rem;
  }

  .fact img {
    height: 5rem;
    padding: 3rem;
    width: auto;
  }

  /* --------------------  PORTFOLIO -------------------- */
  .portfolio .section_wrapper {
    /* display: grid; */
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    margin-bottom: 3rem;
  }

  /* #section_4_portfolio article,
  #section_2_portfolio article {
    grid-column: 2/3;
    grid-row: 1;
  } */

  #section_4_portfolio .col,
  #section_2_portfolio .col {
    /* grid-column: 1/2; */
    grid-row: 1;
  }

  .col img {
    margin-top: 1rem;
  }

  /* --------------------  FOOTER -------------------- */
  footer {
    height: 5rem;
    padding: 2rem;
  }
  #footer {
    display: flex;
    justify-content: space-between;
  }
  /* --------------------  DOKUMENTATION -------------------- */

  /* .section_dokumentation .section_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .section_dokumentation .section_wrapper article {
    grid-column: 1/2;
  } */
}
